body{
    margin: 0;
    text-align: center;
    font-family: 'Times New Roman';
    background-color: antiquewhite;
}

#Calculadora{
    background-color: pink;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 30%;
    margin-left: 40%;
    width: 20%;
}

#titulo{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

#minebotao{
    background-color: palevioletred;
    width: 200px;
    padding-top: 1%;
}